Debug/
.vs/2D_PortFolio/v16/ipch/
.vs/2D_PortFolio/v16/Browse.VC.*
.vs/2D_PortFolio/v16/ipch/AutoPCH/916f2675e7527118/SCENEMANAGER.ipch
.vs/2D_PortFolio/v16/ipch/AutoPCH/916f2675e7527118/SCENEMANAGER.ipch
.vs/2D_PortFolio/v16/Browse.VC.db
